.item-container {
    --border-radius: 2px;
    --height: 5em;
    display: flex;
    align-items: center;
    height: fit-content;
    max-height: fit-content;
    border-radius: var(--border-radius);
    box-sizing: content-box; padding: 3%;
    cursor: pointer;
    
    &.selected {
        background-color: #333;
    }
    .number {
        color: #d2d2d2;
        margin: 0 0.8em;
        text-align: center;
        font-size: 1.5em;
    }
    img {
        height: var(--height);
        max-height: 10vw;
        border-radius: var(--border-radius);
        aspect-ratio: 16/9;
    }
    .info {
        display: flex;
        flex-direction: column;
        min-height: var(--height);
        width: 100%;
        padding: 0 2%;
        justify-content: flex-start;
        .title {
            font-size: 16px;
            .title-text {
                font-weight: bold;
            }
            .type {
                float: left;
            }
        }
        .description {
            font-size: 14px;
            // font-style: italic;
            height: min-content;
            margin-bottom: 0.7em;
            color: #d2d2d2;
        }
    }
}

@media screen and (max-width: 600px) {
    .number {
        display: none;
    }
  }