<div #modalWrapper class="modal-wrapper stylized-scrollbar" [class.dark]="shrinked" (click)="close()">
    <div #modalContainer class="modal-container" (click)="$event.stopPropagation();"
        [@expand]="{value: (active && shrinked) ? 'expanded' : 'shrinked', params: getAnimationParams()}"
        (@expand.done)="onAnimationEnd($event)" (@expand.start)="onAnimationStart($event)">
        <div class="player-container">
            <hupi-cube class="expanded-cube" #hupiCube [isPreviewCube]="true"
                [cube]="(cubeDataService.currentCubeData$ | async)?.cube">
            </hupi-cube>
            <div class="hud" [class.faded-out]="!shrinked">
                <div class="gradient"></div>
                <div class="title-area">
                    <hupi-cube-controls class="expanded" [expanded]="true" [cube]="cube"></hupi-cube-controls>
                </div>
                <div class="close-btn" (click)="close()">
                    <svg viewBox="0 0 24 24" role="button" aria-label="close">
                        <path
                            d="M12 10.586l7.293-7.293 1.414 1.414L13.414 12l7.293 7.293-1.414 1.414L12 13.414l-7.293 7.293-1.414-1.414L10.586 12 3.293 4.707l1.414-1.414L12 10.586z"
                            fill="white"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="content" [class.faded-out]="!shrinked">
            <div class="details">
                <div class="description">
                    {{cube?.description}}
                </div>
                <ul class="data">
                    <li>
                        <label>בהשתתפות: </label><span>{{cube?.metaData?.participants}}</span>
                    </li>
                    <li>
                        <label>ז'אנרים: </label><span>{{cube?.metaData?.genres}}</span>
                    </li>
                    <li>
                        <label>כותר זה הוא: </label><span>{{cube?.metaData?.tags}}</span>
                    </li>
                </ul>
            </div>
            <div class="items-selector">
                <div class="items-selector-header">
                    <span>פרקים</span>
                    <div class="items-filter">
                        <button [class.open]="itemsFilterOpen" (click)="toggleItemsFilter()"
                            (blur)="itemsFilterOpen = false">עונה 1</button>
                        <ul *ngIf="itemsFilterOpen">
                            <li>עונה 1&nbsp;&nbsp;<span>(12 פרקים)</span></li>
                            <li>עונה 2&nbsp;&nbsp;<span>(16 פרקים)</span></li>
                            <li>עונה 3&nbsp;&nbsp;<span>(16 פרקים)</span></li>
                            <li>עונה 4&nbsp;&nbsp;<span>(16 פרקים)</span></li>
                            <div class="divider"></div>
                            <li>לכל הפרקים</li>
                        </ul>
                    </div>
                </div>
                <hupi-item *ngFor="let item of cube?.items" [item]="item"></hupi-item>
            </div>
        </div>
    </div>
</div>