<div #modalWrapper class="modal-wrapper stylized-scrollbar" [class.dark]="shrinked" (click)="close()">
    <div #modalContainer class="modal-container" (click)="$event.stopPropagation();"
        [@expand]="{value: (active && shrinked) ? 'expanded' : 'shrinked', params: getAnimationParams()}"
        (@expand.done)="onAnimationEnd($event)" (@expand.start)="onAnimationStart($event)">
        <div class="player-container">
            <hupi-cube class="expanded-cube" #hupiCube [isPreviewCube]="true"
                [cube]="(cubeDataService.currentCubeData$ | async)?.cube">
            </hupi-cube>
            <div class="hud" [class.transparent]="!shrinked">
                <div class="gradient"></div>
                <div class="title-area">
                    <!-- <h2 class="title">{{cube?.title}}</h2> -->
                    <svg class="title" viewBox="0 0 200 24">
                        <text x="200" y="18" style="font-weight: bold;">{{cube?.title}}</text>
                    </svg>
                    <hupi-cube-controls class="expanded" [expanded]="true"></hupi-cube-controls>
                </div>
                <div class="close-btn" (click)="close()">
                    <svg viewBox="0 0 24 24" role="button" aria-label="close">
                        <path
                            d="M12 10.586l7.293-7.293 1.414 1.414L13.414 12l7.293 7.293-1.414 1.414L12 13.414l-7.293 7.293-1.414-1.414L10.586 12 3.293 4.707l1.414-1.414L12 10.586z"
                            fill="white"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="content" [class.transparent]="!shrinked">
            <div class="details">
                <div class="description">
                    {{cube?.description}}
                </div>
            </div>
            <div class="items-selector">
                <div class="items-selector-header">
                    <span>פריטים</span>
                    <div class="items-filter">
                        <button [class.open]="itemsFilterOpen" (click)="toggleItemsFilter()"
                            (blur)="toggleItemsFilter()">כל הפריטים</button>
                        <ul *ngIf="itemsFilterOpen">
                            <li>לומדות&nbsp;&nbsp;<span>(1 פריטים)</span></li>
                            <li>מודל 3D&nbsp;&nbsp;<span>(1 פריטים)</span></li>
                            <li>סרטי 2D&nbsp;&nbsp;<span>(1 פריטים)</span></li>
                            <li>מצגות&nbsp;&nbsp;<span>(1 פריטים)</span></li>
                            <div class="divider"></div>
                            <li>כל הפריטים&nbsp;&nbsp;<span>(4 פריטים)</span></li>
                        </ul>
                    </div>
                </div>
                <hupi-item *ngFor="let item of cube?.items" [item]="item"></hupi-item>
            </div>
        </div>
    </div>
</div>