@keyframes darken {
    from {
        background-color: rgba(0, 0, 0, 0);
    } 
    to {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    } 
    to {
        opacity: 0;
    }
}

.modal-wrapper {
    position: fixed;
    z-index: 9999;
    &.dark {
        animation: darken 350ms ease-out forwards;
    }
    width: 100%; height: 100%;
    top: 0; left: 0;
    overflow: auto;
    direction: ltr;
    .modal-container {
        will-change: transform;
        position: absolute;
        transform-origin: center top;
        width: 850px;
        max-width: 90vw;
        border-radius: 4px;
        font-size: 16px;
        .player-container {
            display: flex;
            position: relative;
            .close-btn {
                position: absolute;
                top: 0; left: 0;
                margin: 1.8%;
                border: none;
                display: flex;
                width: 4%;
                aspect-ratio: 1 / 1;
                cursor: pointer;
                svg {
                    padding: 18%;
                    border-radius: 100%;
                    background-color: #181818;
                }
            }
            .audio-toggle {
                position: absolute;
                bottom: 5%; left: 0;
                margin: 0.3vw;
                border: none;
                display: flex;
                width: 0.8vw;
                aspect-ratio: 1 / 1;
                cursor: pointer;
                svg {
                    padding: 0.15vw;
                    border-radius: 100%;
                    background-color: #181818;
                }
            }
            .gradient {
                position: absolute;
                top: 0; left: 0;
                height: 101%;
                width: 100%;
                background: linear-gradient(to top,#181818,transparent 50%);
            }
            .title-area {
                position: absolute;
                bottom: 0; right: 0;
                padding: 8% 6%;
                direction: rtl;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .title {
                    height: 40%;
                    filter: drop-shadow(0px 0px 6px black);
                    text {
                        font-weight: bold;
                        fill: white;
                        width: 100%;
                        font-size: 20px;
                    }
                }
            }
        }
        .content {
            height: fit-content;
            width: 100%;
            padding: 5%;
            box-sizing: border-box;
            background-color: #181818;
            direction: rtl;
            color: white;
            .details {
                width: 100%;
                margin-bottom: 2em;
                display: flex;
                .description {
                    width: 65%;
                    font-size: 1.1em;
                }
            }
            .items-selector {
                .items-selector-header {
                    font-size: 24px;
                    font-weight: bold;
                    margin: 48px 0 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .items-filter {
                        position: relative;
                        font-size: 18px;
                        button {
                            background-color: rgb(36, 36, 36);
                            color: white;
                            border: solid 0.1em rgb(77, 77, 77);
                            padding: 0.6em 1em;
                            font-weight: bold;
                            border-radius: 0.2em;
                            display: flex;
                            align-items: center;
                            font-size: inherit;
                            &::after {
                                content: "";
                                border-right: 0.32em solid transparent;
                                border-left: 0.32em solid transparent;
                                border-top: 0.42em solid rgb(255, 255, 255);
                                transition: transform 0.2s linear 0s;
                                margin-right: 1em;
                                transform: none;
                            }
                            &.open::after {
                                transform: rotate(180deg);
                            }
                        }
                        ul {
                            position: absolute;
                            left: 0;
                            width: max-content;
                            background-color: rgb(36, 36, 36);
                            color: white;
                            border: solid 0.1em rgb(77, 77, 77);
                            margin-top: 0.15em;
                            padding: 0.5em 0;
                            .divider {
                                margin: 0.5rem;
                                border: 1px solid rgb(77, 77, 77);
                                width: fill-available; padding: 0;
                            }
                            li {
                                min-width: 4em;
                                padding: 0.5em 1em;
                                display: block;
                                cursor: pointer;
                                span {
                                    font-weight: normal;
                                }
                                &:hover {
                                    background-color: rgb(77, 77, 77)
                                }
                            }
                        }
                    }
                }
                hupi-item {
                    display: block;
                    border-bottom: solid #404040 1px;
                    &:first-of-type {
                        border-top: solid #404040 1px;
                    }
                }
                
            }
        }
    }
}

.faded-out {
    animation: fadeOut 200ms ease-out forwards;
}