<div class="top-bar-container" [class.fixed]="fixed">
    <a class="logo" [routerLink]="''"><img src="assets/logo.png"></a>
    <ul class="top-bar-nav">
        <li>מטוסים</li>
        <li>מסוקים</li>
        <li>כטמ"מים</li>
        <li>הגנ"א</li>
    </ul>

    <div class="spacer"></div>

    <div class="search-box" [class.focused]="focused" (click)="onSearchClick()">
        <img class="icon icon-search" src="assets/icons/search-icon.png">
        <input #searchInput (blur)="onSearchBlur()" class="search-input" placeholder="חפש, חפש, חפש..." type="search">
    </div>

    <img class="icon" src="assets/icons/baha21.png">
    <img class="icon" src="assets/icons/hupi.svg">
</div>