.top-bar-container {
    height: var(--top-bar-height); width: var(--virtual-width);
    display: flex; align-items: center;
    padding: 0 4%; box-sizing: border-box;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7),rgba(0,0,0,0));
    background-color: rgb(20, 20, 20);
    color: white;
    transition: background-color 200ms linear;
    &.fixed {
        background-color: transparent;
        &.solid {
            background-color: rgb(20, 20, 20);
        }
        position: fixed;
        top: var(--top); z-index: 999;  
    }

    .logo {
        display: block;
        height: 1.96vw; width: 5.5vw;
        min-width: 50px; min-height: 17.85px;
        margin-left: 20px;
        img {
            height: 100%; width: 100%;
        }
    }

    .top-bar-nav {
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        padding: 0; margin: 0;
        li {
            margin-right: 18px;
            font-size: 1.2vmax;
        }
    }

    .spacer {
        flex: 1 1 auto;
    }

    .icon {
        height: 20px; margin-right: 1rem;

        &:first-child{
            margin-right: 0;
        }
    }

    .search-box {
        
        display: flex;
        align-items: center;
        height: 30px;
        width: min-content;
        
        &.focused {
            padding: 0 0.5rem;
            border: solid white 1px;
            background: rgba(0, 0, 0, 0.7);
            .search-input {
                width: 200px;
            }
            .icon-search {
                padding-left: 0.5rem;
            }
        }

        .icon-search {
            cursor: pointer;
        }

        .search-input {
            transition: width 0.2s ease-out;
            width: 0;
            background: none;
            border: none;
            color: white;
            font-size: 11pt;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
            &::-webkit-search-cancel-button
            {
                cursor: pointer;
                filter: brightness(10);
                font-size: 10rem;
                padding-right: 0.5rem;
            }
        }
    }

}