:host {
    direction: ltr;
    height: calc(100%);
    position: absolute;
    overflow-x: hidden;
    overflow-y: overlay;
    &.hidden-scrollbar {
        overflow: hidden;
    }
}

hupi-titlebar {
    position: fixed;
    top: 0;
    width: 100%;
}