:host {
    color: white;
}

.container {
    direction: rtl;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 38px;
    background-color: var(--background-color);
    -webkit-app-region: drag;
}


.window-tool  {
    height: 100%;
    aspect-ratio: 1;
    box-sizing: border-box;
    padding: 0 5px;
    display: grid; place-items: center;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
    &.close-btn:hover {
        background-color: rgba(226, 9, 20, 0.8);
    }
    svg {
        height: 30%;
        aspect-ratio: 1;
        &.displayNone {
            display: none;
        }
    }
    -webkit-app-region: no-drag;
    svg * {
        fill: none;
        stroke: #ffffff;
        stroke-miterlimit: 10;
        stroke-width: 3px;
        &.unmaximize {
            fill: #ffffff;
            stroke: none;
        }
    }
}