<div id="titlebar-container" class="container" (dragstart)="toggleMaximize()">
    <div class="window-tool close-btn" data-role="close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.02 22.02">
            <line x1="0.71" y1="0.71" x2="21.32" y2="21.32" />
            <line x1="0.71" y1="21.32" x2="21.32" y2="0.71" />
        </svg>
    </div>
    <div class="window-tool" data-role="maximize" (click)="toggleMaximize()">
        <svg id="unmaximize" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.61 26.6">
            <path class="unmaximize"
                d="M26.61,0H4V4H0V26.6H22.61v-4h4Zm-6,22.6v2H2V6H20.61V22.6Zm4-2h-2V4H6V2H24.61Z" />
        </svg>
        <svg id="maximize" class="displayNone" (click)="toggleMaximize()" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 22.61 22.61">
            <rect x="1" y="1" width="20.61" height="20.61" />
        </svg>
    </div>
    <div class="window-tool" data-role="minimize">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.61 2">
            <line y1="1" x2="20.61" y2="1" />
        </svg>
    </div>
</div>