:host.expanded {
    display: block;
    height: 12%;
    button[data-hint]:hover::before {
        transform-origin: bottom;
        margin-bottom: 1.5vw !important;
        transform: translateX(-50%) scale(1.5) !important;
    }
    button[data-hint]:hover::after {
        top: -1.5vw !important;
        transform: translate(-50%, -25%) scale(1.5) !important;
        
    }
}

.controls {
    display: flex;
    height: 100%;
    &.expanded button {
        height: 100%;
        min-height: 22px;
        width: fit-content;
        aspect-ratio: 1/1;
        padding: 0 6px;
        margin: 3px;
        box-sizing: border-box;
    }
    button {
        position: relative;
        margin: max(0.2vw, 3px);
        background-color: #2a2a2a;
        border: solid #848184 0.1vw;
        border-radius: 100%;
        display: flex;
        padding: 0 max(0.2vw, 4px);
        width: clamp(20px, 1.8vw, 30px);
        height: clamp(20px, 1.8vw, 30px);
        
        svg {
            height: 100%;
            & path {
                fill: white;
            }
        }
        &:hover {
            background-color: #2a2a2a;
            border-color: white;
        }
        &[data-hint]:hover::before {
            content: attr(data-hint);
            position: absolute;
            bottom: 100%;
            left: 50%; transform: translateX(-50%);
            margin-bottom: 1vw;
            padding: 0.3vw 0.8vw;
            font-size: max(0.8vw, 0.5rem);
            font-weight: 700;
            color: rgb(24, 24, 24);
            background-color: rgb(230, 230, 230);
            border-radius: 0.2vw;
            box-shadow: rgb(0 0 0 / 75%) 0px 0.2vw 4px;
            box-sizing: border-box;
            white-space: nowrap;
            animation: fade-in 150ms ease;
        }
        &[data-hint]:hover::after {
            content: "";
            display: block;
            position: absolute;
            border-top: 0.6vw solid rgb(230, 230, 230);
            border-left: 0.6vw solid transparent;
            border-right: 0.6vw solid transparent;
            left: 50%;
            top: -1vw;
            transform: translate(-50%, -25%);
            animation: fade-in 150ms ease;
        }
        &:last-child {
            margin-right: auto;
            margin-left: 0;
        }
        &.audio-toggle {
            opacity: 0.5;
            transition: opacity 300ms linear;
            &:hover {
                opacity: 1;
            }
        }
        &.play-btn {
            &.expanded {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 18%;
                border-radius: 3px;
                padding: 5px;
                // &::after {
                //     content: "הפעל";
                //     font-size: 18px;
                //     font-weight: bold;
                // }
            }
            margin-right: 0;
            background-color: white;
            border-color: transparent;
            &:hover {
                background-color: #e7e7e7;
            }
            svg path {
                fill: black;
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}