:host {
    // position: relative;
    // &:hover .popup{
    //     display: block;
    // }
    // overflow: visible;
    height: var(--cube-height); width: var(--cube-width);
    &.expanded-cube {
        transition: width 300ms linear;
        height: unset;
        min-width: 100%;
        aspect-ratio: 16/9;
        .title {
            display: none;
        }
    }
    position: relative;
}

img {
    border-radius: 4px;
    height: 100%; width: 100%;
    &.preview-img {
        border-radius: 4px 4px 0 0;
    }
}

.title {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    text-align: center;
    padding: 1% 0;
    color: #ffffff;
    font-size: 1.7vw;
    font-weight: 700;
    letter-spacing: 0.1vw;
    // filter: drop-shadow(1px 1px 5px black);
    background: rgba(0, 0, 0, 0.5);
}

// .popup {
//     position: absolute;
//     top: 0; right: 0;
//     height: 100%; width: 100%;
//     transform: scale(1.2);
//     display: none;
// }

