@import './stylesheets/fonts.scss';

html, body{
    overflow-x: hidden; margin: 0;
    background: #141414;
    direction: rtl;
    width: calc(100vw - (100vw - 100%));

    //* global vars *//
    --top-bar-height: 68px;
    --sides: calc( 0.04 * var(--virtual-width)); 
    --cube-margin: 2px;
    --items-in-row: 5;
    --cube-width: calc(
    (var(--virtual-width) - 2 * var(--sides) - (var(--items-in-row) ) * var(--cube-margin) * 2 )
    /
    var(--items-in-row)
    );
    --cube-height: calc(var(--cube-width) * 9 / 16);
}

body{
    overflow-y: hidden;
}

button:hover{
    cursor: pointer;
}

* {
    font-family: $primary-font;
}

html::-webkit-scrollbar{
    background: transparent; width: 20px;
}

html::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.9);
    border: 7px solid transparent; background-clip: padding-box;
    border-radius: 20rem;
}