<div *ngIf="!asList; else listTitle" [routerLink]="'' + row?.title" class="row-header clickable">
    <h1 class="row-title">{{row?.title}}</h1>
    <div class="see-all">
        <span class="see-all-link">הצג את כל התכנים</span>
        <span class="arrow-icon"></span>
    </div>
</div>
<ng-template #listTitle>
    <div class="row-header">
        <h1 class="row-title">{{row?.title}}</h1>
    </div>
</ng-template>

<div class="row-container" (scroll)="clearTimer()">
    <button [hidden]="page === 0" class="scroll-btn back" (click)="scroll(-1)"></button>
    <div #container class="cubes-container" (scroll)="clearTimer()" [class.list]="asList">
        <hupi-cube *ngFor="let cube of row?.cubes" #cubeElement [cube]="cube" (click)="expandCube()"
            (mouseout)="onMouseOut()" (mouseenter)="onMouseEnter(cube, cubeElement);">
        </hupi-cube>
    </div>
    <button #scrollBtn [hidden]="page === (maxPage$ | async)" class="scroll-btn" (click)="scroll(1)">
    </button>
</div>