:host {
    display: block;
    margin-bottom: 2vw;
}

.row-container {
    position: relative;
    $item: 4;
    
    .cubes-container {
        width: var(--virtual-width);
        padding: 0 var(--sides);
        display: flex;
        overflow-x: auto; 
        position: relative;
        scroll-behavior: smooth;
        box-sizing: border-box;
        hupi-cube{
            flex-shrink: 0; 
            margin-left: var(--cube-margin);
            cursor: pointer;
        }
        &.list {
            flex-wrap: wrap;
            hupi-cube{
                margin-bottom: 7vh;
            }
        }
    }

    .scroll-btn{
        z-index: 1;
        height: var(--cube-height); 
        width: calc(var(--sides) + 1px);
        font-size: 25px; font-weight: bold;
        position: absolute; left: 0; top: 0; 
        color: rgba(255, 255, 255, 0.8); border: none;
        background: rgba(0, 0, 0, 0.4); 
        transition: background .2s ease-in;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background-image: url("../../../assets/icons/arrow-icon.png");
            background-size: calc(var(--sides)) calc(var(--sides));
            background-repeat: no-repeat;
            background-position: center;
            transition: transform 0.1s;
        }

        &:hover::after {
            transform: scale(1.4);
        }

        &.back{
            right: 0;
            transform: scaleX(-1)
        }
    }

    .scroll-btn:hover{
        background: rgba(0, 0, 0, 0.5);
    }

    .cubes-container::-webkit-scrollbar{
        display: none;
    }
}

.row-header {
    color: white;
    margin: 0 var(--sides) 0 0;
    line-height: 2em;
    display: flex;
    align-items: baseline;
    position: sticky; top: 0;
    z-index: 1;
    background-color: var(--background-color);
    &.clickable {
        cursor: pointer;
        color: #e5e5e5;
        background-color: transparent;
        width: fit-content;
        &:hover {
            color: white;
        }
    }
    &:hover {
        .see-all {
            * {
                opacity: 1;
            }
            .see-all-link {
                right: 15px;
            }
            .arrow-icon {
                right: 12px;
                width: 1.2vw; height: 1.2vw;
            }
        }
    }
    .see-all {
        display: flex;
        align-items: center;
        cursor: pointer;
        * {
            position: relative;
            opacity: 0;
        }
        .see-all-link {
            font-weight: bold;
            font-size: 0.9vw;
            transition: all 500ms ease-out;
            right: 0px;
            color: inherit;
            text-decoration: none;
        }
        .arrow-icon {
            transition: right 350ms linear, width 350ms linear, height 350ms linear;
            right: -100%;
            display: inline-block;
            width: 2vw; height: 2vw;
            background-image: url("../../../assets/icons/arrow-icon.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}