<!-- preview-container: [hidden]="!active && shrinked"  -->
<!-- preview-bar: [style.opacity]="barOpacity" -->
<div class="preview-container" (click)="expand()" [hidden]="!active && shrinked"
    [style.transformOrigin]="this.cubeData?.position?.transformOrigin"
    [@growShrink]="(active && shrinked) ? 'grow' : 'shrink'" (@growShrink.done)="onAnimationEnd($event)"
    (@growShrink.start)="onAnimationStart($event)" [style.top.px]="this.cubeData?.position?.previewTop"
    [style.left.px]="this.cubeData?.position?.left">
    <hupi-cube [isPreviewCube]="true" [cube]="this.cubeData?.cube"></hupi-cube>
    <div class="preview-bar" [style.opacity]="barOpacity">
        <hupi-cube-controls></hupi-cube-controls>
        <!-- <div class="meta-data">
            <span>טקסט בובה</span>
            <span>meta data</span>
            <span>טקסט בובה</span>
            <span>meta data</span>
        </div> -->
        <div class="tags">
            <span *ngFor="let tag of this.cubeData?.cube?.tags">{{tag}}</span>
        </div>
    </div>
</div>