.preview-container {
    width: min-content;
    transform-origin: center;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    &[hidden] {
        visibility: hidden; 
    }
    border-radius: 0 0 4px 4px;
    box-shadow: rgba(0 0 0 / 75%) 0px 3px 10px;
    
    .preview-bar {
        transition: opacity 150ms linear;
        border-radius: 0 0 4px 4px;
        background-color: #181818;
        height: calc(0.75 * var(--cube-height));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        padding: 4% 4% 6% 4%;
        box-sizing: border-box;
        font-size: 0.7rem;
        --text-margin: 0.4vw;
        
        .meta-data {
            display: flex;
            span {
                margin-left: var(--text-margin);
            }
        }
        .tags {
            display: flex;
            span:not(:first-child){
                margin-right: var(--text-margin);
                &::before {
                    content:"\2022";
                    color: rgba(255, 255, 255, 0.6);
                    margin-left: var(--text-margin);
                }
            }
        }
    }
}